.anticon {
  font-size: 18px;
  z-index: 1;
}

.input {
  display: flex;
  margin: 20px 5px;
  position: relative;

  .input__smile-btn {
    padding: 0 10px;
  }

  .input__textarea {
    position: relative;
    flex-grow: 1;

    .textarea__field {
      resize: unset;
      padding-right: 40px;
      &:hover {
        box-shadow: none;
      }
    }

    .textarea__button {
      position: absolute;
      width: 35px;
      height: 35px;
      padding: 5px;
      right: 1px;
      top: 50%;
      transform: translate(0, -50%);

      span {
        font-size: 22px;
      }
    }
  }

  .input__media-btn {
    display: flex;
    width: 70px;
    padding: 0 5px;

    button {
      padding: 5px;
    }
  }
}
