.message {
  align-self: flex-start;
  display: grid;
  position: relative;
  margin-top: 20px;
  grid-template-columns: max-content 1fr;
  grid-template-areas:
    "avatar bubble"
    "any date";

  &__avatar {
    grid-area: avatar;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 13px;
    align-self: end;

    img {
      width: inherit;
      height: inherit;
      border-radius: inherit;
      object-fit: cover;
    }
  }
  &__content {
    grid-area: bubble;
    max-width: 400px;
    background: #3674ff;
    border-radius: 12px 12px 12px 0px;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    padding: 15px;
  }
  &__date {
    grid-area: date;
    margin-top: 8px;
    font-size: 12px;
    line-height: 14px;
    opacity: 0.5;
  }
}

.content__text {
  margin: 0;
  word-break: break-word;
}

.content__attachments {
  display: flex;
  padding: 5px;

  img {
    border-radius: 8px;
    height: 80px;
    width: 80px;
    object-fit: cover;
  }
  :not(:last-child) {
    margin-right: 3px;
  }
}

.message--outcome {
  align-self: flex-end;
  grid-template-areas:
    "bubble avatar"
    "date any";

  .img-status {
    position: absolute;
    left: -30px;
    bottom: 34px;
    opacity: 0.5;
  }
  .message__content {
    background: #ffffff;
    border: 1px solid #ececec;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0220444);
    border-radius: 12px 12px 0px 12px;
    color: #202020;
  }
  .message__avatar {
    margin-left: 13px;
  }
  &.message--is-typing {
    .content__typing-indicator {
      span {
        background-color: #9e9ea1;
      }
    }
  }
}

.message--is-typing {
  .message__content {
    background-color: #e5edff;
  }
  .img-status {
    display: none;
  }
  .content__typing-indicator {
    will-change: transform;
    display: table;
    margin: 0 auto;
    position: relative;
    animation: 2s bulge infinite ease-out;
    span {
      height: 8px;
      width: 8px;
      float: left;
      margin: 0 3px;
      background-color: #9e9ea1;
      display: block;
      border-radius: 50%;
      opacity: 0.4;
      @for $i from 1 through 3 {
        &:nth-of-type(#{$i}) {
          animation: 1s blink infinite ($i * 0.3333s);
        }
      }
    }
  }
  @keyframes blink {
    50% {
      opacity: 1;
    }
  }

  @keyframes bulge {
    50% {
      transform: scale(1.05);
    }
  }
}

.message--image {
  .message__content {
    padding: 0;
  }
  .content__attachments {
    padding: 0;
  }
  &.message--outcome {
    .attachment img {
      border-radius: 12px 12px 0px 12px;
    }
  }
  .attachment img {
    height: 150px;
    width: 150px;
    border-radius: 12px 12px 12px 0px;
  }
}

.message--audio {
  .message__content {
    position: relative;
    padding: 0;
    overflow: hidden;
    display: flex;
    height: 63px;
    width: 296px;
    .audio__progress {
      height: 100%;
      background: #418fff;
      transition: width 0.3s ease;
    }
    .audio__play-btn {
      width: 28px;
      height: 28px;
      position: absolute;
      left: 18px;
      top: 17px;
      button {
        width: inherit;
        height: inherit;
        background: #0f3997;
        border: none;
        border-radius: 50%;
      }
    }
    .audio__wave-img {
      position: absolute;
      left: 84px;
      top: 16px;
    }
    .audio__duration {
      position: absolute;
      left: 247px;
      top: 23px;
      font-size: 12px;
      line-height: 14px;
      opacity: 0.5;
    }
  }
  &.message--outcome {
    .audio__progress {
      background: #e5edff;
    }
    .audio__play-btn button {
      background: #a6bdf0;
    }
  }
}
