.avatar {
  height: inherit;
  width: inherit;
  border-radius: inherit;
  object-fit: cover;
}

.avatar--empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: inherit;
  span {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
  }
}
