.chat {
  max-width: 1143px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04204);
}

// SIDEBAR

.chat__sidebar {
  min-width: 320px;
  max-height: 100vh;

  .sidebar__header {
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f7f7f7;

    .header__icon {
      &.--team {
        font-size: 20px;
        margin-right: 10px;
      }
      &.--form {
        font-size: 18px;
        margin-left: auto;
      }
    }
  }

  .sidebar__search {
    padding: 20px;
  }

  .sidebar__dialogs {
    height: calc(100% - 132px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}

// DIALOG

.chat__dialog {
  width: 823px;
  border-left: 1px solid #f7f7f7;
  display: flex;
  flex-direction: column;

  .dialog__header {
    min-height: 60px;
    border-bottom: 1px solid #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;

    .header__status {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: auto;
      .status__name {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
      }
      .status__indicator {
        color: #adadad;
        position: relative;
        font-size: 14px;
        line-height: 16px;
        &::before {
          position: absolute;
          display: block;
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 50%;
          left: -14px;
          top: 6px;
          background-color: #adadad;
        }
        &--online {
          &::before {
            background-color: #00c980;
          }
        }
      }
    }
    .header__elipsis {
      font-size: 20px;
      margin-left: auto;
      margin-right: 20px;
    }
  }

  .dialog__messages {
    padding-left: 15px;
    overflow-y: auto;
    height: 100%;
    min-width: 526px;
    .messages {
      display: flex;
      flex-direction: column;
    }
  }
}
